* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
iframe{
	display: block;
}

#contentsMoocImage iframe {
	width: 100%;
}

.section {
  padding: 100px 0; }
.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }
.contacts {
  position: relative; }
.maps {
  position: relative; }
}
/*============errorPage============*/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 0px 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 150px;
  line-height: 150px;
  margin-bottom: 25px;
}

.notfound .notfound-404 h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 186px;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  background: url('../images/text.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.notfound a {
  font-family: 'Titillium Web', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: none;
  background: #5c91fe;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 1px;
  margin-top: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }
  .notfound .notfound-404 h1 {
    font-size: 120px;
  }
}
/*==================================*/
/*=========Jojik================*/
.mx-auto img {
    width: 120%;
    position: relative;
    z-index: 1
}
@media(min-width: 768px) and (max-width: 991.98px) {
    .mx-auto img {
        width: 100%
    }
}
@media(min-width: 576px) and (max-width: 767.98px) {
    .mx-auto img {
        width: 100%
    }
}
@media(max-width: 575.98px) {
    .mx-auto img {
        width: 100%
    }
}
/*======================================*/

.list{
	width:70%;
    padding-top: 1em;
    padding-left: 1em;
}
.list-content-mooc h4 p{
	text-overflow: ellipsis;
	width:calc(90%);
	word-wrap: normal;
	display: inline-block; 
	white-space: nowrap; 
	overflow: hidden;
}
.list-content p{
	text-overflow: ellipsis;
	width:calc(90%);
	word-wrap: normal;
	display: inline-block; 
	white-space: nowrap; 
	overflow: hidden;
}
.list div{
	float:left;
}
.list-content{
	width:50%;
}

.list-button li{
	float:left;
    margin-right: 0.3em;    
    margin-bottom: 0.5em;
}
.list-content-mooc{
	width:70%;

}
.list-date{
	float:left;
	margin: 0.5em 0.3em;
}

.contents {
	background-color: white;
	border-bottom-color: rgba(144, 144, 144, 0.25);
	border-bottom: solid 3px;
}

.black {
	color: #000;	
}