<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Contents">
	<resultMap type="Contents" id="contentsResultSet">
		<id property="id" column="ID"/>
		<result property="pageId" column="PAGE_ID"/>
		<result property="category" column="CATEGORY" />
		<result property="title" column="TITLE" />
		<result property="contents" column="CONTENTS"/>
		<result property="text" column="TEXT"/>
		<result property="url" column="URL" />
		<result property="postDate" column="POST_DATE" />
	</resultMap>
	<insert id = "insert" parameterType="Contents">
		INSERT INTO 
		hsgbiz_contents(PAGE_ID, CATEGORY, TITLE, CONTENTS, TEXT, URL, POST_DATE) 
		VALUES(#{pageId}, #{category}, #{title}, #{contents}, #{text}, #{url}, #{postDate})
	</insert>
	<!-- 
	<select id="findAll" resultMap="contentsResultSet" parameterType="Contents">
		SELECT * FROM hsgbiz_contents
		WHERE ID = #{id};
	</select>
	 -->
	<select id="findOneByPageId" resultMap="contentsResultSet" parameterType="Contents">
		SELECT * FROM hsgbiz_contents 
		WHERE PAGE_ID = #{pageId}
		ORDER BY POST_DATE DESC LIMIT 1;
	</select>
	<select id="findByPageId" resultMap="contentsResultSet" parameterType="Contents">
		SELECT * FROM hsgbiz_contents 
		WHERE PAGE_ID = #{pageId}
		ORDER BY ID DESC;
	</select>
	<select id="findById" resultMap="contentsResultSet" parameterType="Contents">
		SELECT * FROM hsgbiz_contents 
		WHERE ID = #{id};
	</select>
	<update id="update" parameterType="Contents">
		UPDATE hsgbiz_contents
			<set>
				CATEGORY = #{category}, 
				TITLE = #{title}, 
				TEXT = #{text}, 
				<if test="contents != null">
				CONTENTS = #{contents}, 
				</if>
				URL = #{url},
				POST_DATE = #{postDate} 			
			</set>
		WHERE ID = #{id};
	</update>
	<!-- IMAGE = IF(#{image} = '', IMAGE, #{image}),  -->
	<update id="updateImage" parameterType="Contents">
		UPDATE hsgbiz_contents SET 
			CONTENTS = #{contents}
		WHERE ID = #{id};
	</update>
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM hsgbiz_contents 
		WHERE ID = #{id}
	</delete>
	
	<select id="getListCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT COUNT(*) FROM hsgbiz_contents 
		WHERE PAGE_ID = #{pageId}
	</select>
	
</mapper>