<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EduEln">
	<resultMap type="EduEln" id="eduElnResultSet">
		<id property="id" column="MOOC_ID"/>
		<result property="category" column="CATEGORY"/>
		<result property="title" column="TITLE"/>
		<result property="text" column="TEXT"/>
		<result property="video" column="VIDEO"/>
		<result property="postDate" column="POST_DATE"/>
	</resultMap>
	<insert id="insert" parameterType="EduEln">
		INSERT INTO 
		hsgbiz_mooc(CATEGORY, TITLE, TEXT, VIDEO, POST_DATE) 
		VALUES(#{category}, #{title}, #{text}, #{video}, #{postDate})
	</insert>
	<select id="findAll" resultMap="eduElnResultSet">
		SELECT * FROM hsgbiz_mooc
	</select>
	<select id="findById" resultMap="eduElnResultSet" parameterType="java.lang.Integer">
		SELECT * FROM hsgbiz_mooc 
		WHERE MOOC_ID = #{id}
	</select>
	<update id="update" parameterType="EduEln">
		UPDATE hsgbiz_mooc SET 
			CATEGORY = #{category},
			TITLE = #{title},
			TEXT = #{text},
			VIDEO = #{video},
			POST_DATE = #{postDate} 
		WHERE MOOC_ID = #{id}
	</update>
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM hsgbiz_mooc
		WHERE MOOC_ID = #{id}
	</delete>
</mapper>