<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap type="Member" id="memberResultSet">
		<id property="mid" column="MEMBER_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="phone" column="USER_TEL"/>
		<result property="enrollDate" column="REG_DT"/>
		<result property="status" column="USER_TYPE"/>
	</resultMap>
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT * FROM hsgbiz_member
		WHERE USER_ID = #{userId} 
	</select>
	<select id="selectPwd" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT USER_PW FROM hsgbiz_member
		WHERE USER_ID = #{userId}
	</select>
</mapper>