<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:root-context.xml
			
			/WEB-INF/config/spring-security.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/action-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/member-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/member-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>common</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/common-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>common</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>itr-bok</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/itr-bok-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-bok</servlet-name>
    <url-pattern>*.ib</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>itr-gre</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/itr-gre-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-gre</servlet-name>
    <url-pattern>*.ig</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>itr-his</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/itr-his-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-his</servlet-name>
    <url-pattern>*.ih</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>itr-org</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/itr-org-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-org</servlet-name>
    <url-pattern>*.io</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>itr-cst</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/itr-cst-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-cst</servlet-name>
    <url-pattern>*.ic</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>itr-ptn</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/itr-ptn-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-ptn</servlet-name>
    <url-pattern>*.ip</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>itr-loc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/itr-loc-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>itr-loc</servlet-name>
    <url-pattern>*.il</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>edu-eln</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/edu-eln-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>edu-eln</servlet-name>
    <url-pattern>*.ee</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>edu-hrd</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/edu-hrd-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>edu-hrd</servlet-name>
    <url-pattern>*.eh</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>edu-sft</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/edu-sft-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>edu-sft</servlet-name>
    <url-pattern>*.es</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>edu-cst</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/edu-cst-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>edu-cst</servlet-name>
    <url-pattern>*.ec</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>edu-req</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/edu-req-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>edu-req</servlet-name>
    <url-pattern>*.er</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>emp-lec</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/emp-lec-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>emp-lec</servlet-name>
    <url-pattern>*.el</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>opn-lat</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/opn-lat-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>opn-lat</servlet-name>
    <url-pattern>*.ol</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>opn-src</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/opn-src-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>opn-src</servlet-name>
    <url-pattern>*.os</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>opn-tec</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	  <param-name>contextConfigLocation</param-name>
  	  <param-value>/WEB-INF/config/opn-tec-servlet.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>opn-tec</servlet-name>
    <url-pattern>*.ot</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>